################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tools
/.release
/.vs
[Bb]in
[Oo]bj
/packages
/NuGet
/TestResults
**/*.lock.json
**/*.nuget.targets

msbuild.log
.localbuild