################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.tools
/.release
/.vs
/.idea
[Bb]in
[Oo]bj
/packages
/NuGet
/TestResults
**/*.lock.json
**/*.nuget.targets
**/*.nupkg
msbuild.log
nuget.exe
TestResult.xml

**/.DS_Store